<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
 	<p>
 		<%= image_tag 'http://www.pjwstk.edu.pl/templates/pjwstk/images/logo-lg-md.png' %>
 	</p>
 	<%= yield %>
 </div>


</body>
</html>
